<html>
    <head>
      <title>LispALike</title>
    </head>
    <body>
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <p>
                {{ form.program.label }}<br>
                {{ form.program(rows='10',cols='80') }}
            </p>
            <p>{{ form.submit() }}</p>
        </form> 
        <p>Output:</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %} 
    </body>
</html>
